body {
    background-color: rgb(254, 250, 240);
    color: #040200;
    font-family: "Delius", serif;
    font-size: 1rem;
}

#name-header {
    font-family: "Atma", serif;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
/* phone size - name header */
@media (max-width: 375px) {
    #name-header {
        font-size: 2rem;
    }
}

#navigation {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: rgba(243, 224, 167, 0.839);

}

#navigation ul {
    display: flex;
    gap: 4em;
    list-style: none;

}

/* tablet size - nav ul*/
@media (max-width: 768px) and (min-width: 426px) {

    #navigation ul {
        padding-left: 0;
    }
}

/* adding styling to links*/
a {
    color: #6a3207;
}

a:focus {
    color: rgb(247, 0, 255);
}

a:hover {
    color: firebrick;
}

/*phone size - Navigation menu*/
@media (max-width: 375px) {

    #navigation ul {
        flex-wrap: wrap;
        gap: 1em;
        justify-content: space-evenly;
        padding: 0;
        margin: 1em;
    }

}

#about, #experience, #skills, #projects, #connect, #message-section{
    scroll-margin-top: 3em;
}

@media (max-width: 375px) {
    #about, #experience, #skills, #projects, #connect, #message-section{
        scroll-margin-top: 6em;
    }
}
#about-container {
    display: flex;
    gap: 2em;
    margin-top: 5em;
    margin-right: 5em;
}
#profile-picture {
    flex-wrap: wrap;
    border-radius: 5em;
    width: 20em;
    max-height: max-content;
    border-color: rgba(157, 85, 8, 0.719);
    border-width: .75em;
    border-style: solid;
    display: block;
    margin-left: 10%;
    margin-right: 5em;
}

#about-paragraph {
    text-align: justify;
    font-size: 1.5rem;
    max-width: 40vw;
}

/*phone size - About section */
@media (max-width: 375px) {
    #about-container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    #profile-picture {
        width: 15em;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    #about-paragraph {
        font-size: 100%;
        text-align: center;
        max-width: none;

    }
}

/* tablet size - About section*/
@media (max-width: 768px) and (min-width: 426px) {

    #about-container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    #profile-picture {
        width: 15em;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    #about-paragraph {
        font-size: 150%;
        text-align: center;
        max-width: none;

    }
}

h2 {
    font-family: "Atma", serif;
    font-size: 2rem;
    font-weight: 400;
}

.section-header {
    background-color: #93c887bf;
}

section {
    margin-top: 10em;
    margin-bottom: 10em;
}

/*phone size - sections */
@media (max-width: 375px) {
    section {
        padding-bottom: 1em;
        margin-bottom: auto;
        margin-top: auto;
    }
}


.exp-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 40em));
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 15px 15px;
    margin-top: 5em;
}

.exp-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(223, 11, 152, 0.583);
    border-radius: 2em;
    border: 1px solid rgb(135, 14, 55);
    padding: 1em;
}

.one-experience {
    display: flex;
    flex-direction: column;
}

.exp-date {
    font-weight: bold;
    margin-right: 1em;
}

/*tablet view - Experience items*/
@media (max-width: 768px) and (min-width: 426px) {
    .exp-item {
        background-color: #ea9fcb;
    }
    .exp-date {
        font-style: italic;
    }
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5em;
}

#skills li {
    background-color: #e38233;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid #6a3207;
}

/* phone size - skills  */
@media (max-width: 375px) {
    #skills ul {
        gap: 1em;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}

#projects ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    margin-top: 5em;
    padding-left: 0;
}

#projects li {
    background-color: rgba(110, 195, 223, 0.83);
    padding: 1em;
    border: 2px solid rgb(45, 103, 121);
    border-radius: 1em;
}

#connect ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.icon-image {
    width: 4em;
    height: auto;
}

#github-icon:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7); 
    border-radius: 50%;
}

#linkedin-icon:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    border-radius: .5em;
}

/* phone size - Connect*/
@media (max-width: 375px) {
    #connect ul {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .icon-image {
        width: 3.5em;
    }
}

/* tablet size - Connect*/
@media (max-width: 768px) and (min-width: 426px) {
    #connect ul {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .icon-image {
        width: 5em;
    }
}

#form-container {
    display: grid;
    place-items: center;
    margin-top: 5em;
}

/* form styling */
form {
    background-color: #94ddede0;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    padding: 3em;
    width: 100%;
    max-width: 40vw;
}

label {
    margin-bottom: .5em;
}

input {
    display: flex;
    width: 100%;
    max-width: 20vw;
    padding: .5em;
}

textarea {
    display: flex;
    width: 100%;
    max-width: 30vw;
}

#submit-button {
    background-color: #72e5ffd4;
    font-size: 1rem;
    width: 10em;
    border-radius: 2em;
    padding: .5em;
    border: 2px solid #4f92a1fe
}
/*phone size - form */
@media (max-width: 375px) {

    input {
        max-width: 35vw;
    }

    textarea {
        max-width: 100%;
    }

    #submit-button {
        width: 6em;
    }
}

/*tablet size - form*/
@media (max-width: 768px) and (min-width: 426px) {
    form {
        max-width: 50vw;
    }

    input {
        max-width: 30vw;
    }

    textarea {
        max-width: 75%;
    }
}

#submit-button:hover {
    background-color: #c5edf6d4;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

#messages ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
}

#messages li {
    max-width: fit-content;
    background-color: #f5cd3d84;
    padding: .5em;
    border-radius: 1em;
    border: 1px solid rgb(241, 198, 69);
}

/*phone size*/
@media (max-width: 375px) {

    #messages ul {
        padding-left: 0;
    }
}
#removeButtonId {
    font-size: 1rem;
    border-radius: 1em;
    width: 6em;
}

#removeButtonId:hover {
    background-color: rgb(243, 241, 241);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}